pipeline/CopyCoronaToSqlPipeline.json
{
	"name": "CopyCoronaToSqlPipeline",
	"properties": {
		"activities": [
			{
				"name": "GetRawCoronaData",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "Source",
						"value": "mOBPykOjAyBO2ZKk/arcgis/rest/services/RKI_COVID19/FeatureServer/0/query?where=1%3D1&outFields=*&outSR=4326&f=json"
					},
					{
						"name": "Destination",
						"value": "corona.REST resource"
					}
				],
				"typeProperties": {
					"source": {
						"type": "RestSource",
						"httpRequestTimeout": "00:01:40",
						"requestInterval": "00.00:00:00.010",
						"requestMethod": "GET"
					},
					"sink": {
						"type": "AzureSqlSink",
						"tableOption": "autoCreate"
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": true,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"path": "['attributes']['IdBundesland']"
								},
								"sink": {
									"name": "IdBundesland",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "['attributes']['Bundesland']"
								},
								"sink": {
									"name": "Bundesland",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['attributes']['Landkreis']"
								},
								"sink": {
									"name": "Landkreis",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['attributes']['Altersgruppe']"
								},
								"sink": {
									"name": "Altergruppe",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['attributes']['Geschlecht']"
								},
								"sink": {
									"name": "Geschlecht",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['attributes']['AnzahlFall']"
								},
								"sink": {
									"name": "AnzahlFall",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "['attributes']['AnzahlTodesfall']"
								},
								"sink": {
									"name": "AnzahlTodesfall",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "['attributes']['ObjectId']"
								},
								"sink": {
									"name": "ObjectId",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "['attributes']['Meldedatum']"
								},
								"sink": {
									"name": "Meldedatum",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "['attributes']['IdLandkreis']"
								},
								"sink": {
									"name": "IdLandkreis",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['attributes']['Datenstand']"
								},
								"sink": {
									"name": "Datenstand",
									"type": "String"
								}
							},
							{
								"source": {
									"path": "['attributes']['NeuerFall']"
								},
								"sink": {
									"name": "NeuerFall",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "['attributes']['NeuerTodesfall']"
								},
								"sink": {
									"name": "NeuerTodesfall",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "['attributes']['Refdatum']"
								},
								"sink": {
									"name": "Refdatum",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "['attributes']['NeuGenesen']"
								},
								"sink": {
									"name": "NeuGenesen",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "['attributes']['AnzahlGenesen']"
								},
								"sink": {
									"name": "AnzahlGenesen",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "['attributes']['IstErkrankungsbeginn']"
								},
								"sink": {
									"name": "istErkrungsbegin",
									"type": "Int64"
								}
							},
							{
								"source": {
									"path": "['attributes']['Altersgruppe2']"
								},
								"sink": {
									"name": "Altergruppe2",
									"type": "String"
								}
							}
						],
						"collectionReference": "$['features']"
					}
				},
				"inputs": [
					{
						"referenceName": "RawCoronaDataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "CoronaDatenset",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "SanatizeCoronaData",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "GetRawCoronaData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "1.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "SanatizeCoronaData",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "ForEachRow",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookUpCoronaData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.Value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "getWeatherData",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"additionalColumns": [
										{
											"name": "Landkreis",
											"value": {
												"value": "@item().Landkreis",
												"type": "Expression"
											}
										},
										{
											"name": "Datum",
											"value": {
												"value": "@item().Meldedatum",
												"type": "Expression"
											}
										}
									],
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET"
								},
								"sink": {
									"type": "AzureSqlSink",
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['main']['temp']"
											},
											"sink": {
												"name": "temp",
												"type": "Double"
											}
										},
										{
											"source": {
												"path": "$['main']['temp_min']"
											},
											"sink": {
												"name": "temp_min",
												"type": "Double"
											}
										},
										{
											"source": {
												"path": "$['main']['temp_max']"
											},
											"sink": {
												"name": "temp_max",
												"type": "Double"
											}
										},
										{
											"source": {
												"path": "$['main']['pressure']"
											},
											"sink": {
												"name": "pressure",
												"type": "Int64"
											}
										},
										{
											"source": {
												"path": "$['main']['humidity']"
											},
											"sink": {
												"name": "humidity",
												"type": "Int64"
											}
										},
										{
											"source": {
												"path": "$['main']['sea_level']"
											},
											"sink": {
												"name": "sea_level",
												"type": "Int64"
											}
										},
										{
											"source": {
												"path": "$['main']['grnd_level']"
											},
											"sink": {
												"name": "grnd_level",
												"type": "Int64"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "WeatherRest",
									"type": "DatasetReference",
									"parameters": {
										"city": {
											"value": "@item().Landkreis",
											"type": "Expression"
										},
										"date": "@item().Meldedatum"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "WeatherData",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "LookUpCoronaData",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Truncate Table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "CoronaDataSanitized",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Truncate Table",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "SanatizeCoronaData",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[truncateCoronaRaw]"
				},
				"linkedServiceName": {
					"referenceName": "CoronSqlDatabase",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}